<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:batch="http://www.springframework.org/schema/batch" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/batch	http://www.springframework.org/schema/batch/spring-batch.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName" default-init-method="init">
       
       <!-- 内存仓库 -->
       <bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
       		<property name="transactionManager" ref="transactionManager" /> 
       </bean>
       
       <!-- 数据库仓库 -->
       <!-- <bean id="jobRepository" class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
       		<property name="dataSource" ref="dataSource"></property>
       		<property name="transactionManager" ref="transactionManager"></property>
       		<property name="databaseType" value="MySql"></property>
       </bean> -->
       
       <!-- 事物管理 -->
       <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager"></bean>
       
        <!-- 作业调度器，用来启动job,引用作业仓库 -->
       <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
       		<property name="jobRepository" ref="jobRepository"></property>
       </bean>
       
</beans>